{% extends 'index.html' %}
{% block content %}

<main>
    <article id="article_container">
        <form class="card delete" method="post">
            <h2 class="delete-title">Confirmez vous la suppression du ticket ?</h2>
            <p class="delete-p">{{ object.title }}</p>
            <div class="buttons-wrapper">
                {% csrf_token %}
                <button class="form-button delete-btn" type="submit">Confirmer</button>
                <a class="form-button delete-btn" role="button" href="{% url 'posts' %}">Annuler</a>
            </div>
        </form>
    </article>
</main>

{% endblock content %}