{% extends 'index.html' %}
{% load litreview_extras %}
{% block content %}

<section class="create">
    {% comment %} <h2> Bienvenue {{ request.user }}</h2> {% endcomment %}
    <button class="form-button">
        <a href="{% url 'create_ticket' %}">Demander une critique</a>
    </button>
    <button class="form-button">
        <a href="{% url 'create_review' %}">Créer une critique</a>
    </button>
</section>

<main id="article_container">
    <h2>Les dernières publications</h2>
    {% for instance in posts %}
    {% if instance|model_type == "Ticket" %}
    {% include "ticket/ticket_snippet.html" with ticket=instance %}
    {% elif instance|model_type == "Review" %}
    {% include "review/review_snippet.html" with review=instance %}
    {% endif %}
    {% endfor %}
    {% if is_paginated %}
    {% include 'pagination_snippet.html' %}
    {% endif %}
</main>

{% endblock content %}