{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="LITReview est une application web permettant
            de demander ou publier des critiques de livres ou d’articles." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="LITReview est une application web permettant
            de demander ou publier des critiques de livres ou d’articles." />

    <!-- Open Graph data -->
    <meta property="og:title" content="LITReview" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rossignol-h.github.io/" />
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:description" content="LITReview est une application web permettant
            de demander ou publier des critiques de livres ou d’articles." />

    <!-- Customize css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/loader_screen.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}?{% now 'U' %}">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />

    <title>LITReview</title>
</head>

<body>
    {% if "/home/1" == request.get_full_path %}
    {% include "authentication/loader.html" %}
    {% endif %}
    <header class="index-header">
        <nav class="nav-container">
            <img class="logo" src="{% static 'logo.svg' %}" alt="logo LITReview" />
            <h1>LITReview</h1>
            <ul class="nav-item">
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Flux</a></li>
                <li><a href="{% url 'follow' %}">Abonnements</a></li>
                <li><a href="{% url 'posts' %}">Posts</a></li>
                <li><a href="{% url 'logout' %}">Deconnexion</a></li>
            </ul>
        </nav>
        <figure>
        </figure>
    </header>
    <h2 class="connected-user">Utilisateur connecté : {{ request.user }}</h2>
    {% block content %}
    {% endblock %}
    {% endif %}
    <script src="{% static 'index.js' %}"></script>
</body>

</html>